---
import Tablet from "../ui/Tablet.astro";
---
<div class="flex flex-col sm:flex-row gap-2 py-20">
    <div class="sm:w-1/2">
        <div class="flex items-center">
            <div class="row">
                <h1 class="text-7xl font-thin tracking-tight">About me</h1>
                <p class="font-mono font-thin text-xs text-gray-500">JavaScript | TypeScript | Angular | AWS | GitLab | Custom Components | Microfrontends | Module Federation</p>
            </div>
        </div>
    </div>
    <div class="sm:w-1/2">
        <div class="flex justify-center items-center">
            With over a decade in frontend development, I specialize in Angular, RxJS, and TypeScript, focusing on web components and microfrontend architectures.

            <br />            <br />
            I’m passionate about automation, quality assurance, and testing, leveraging Playwright and Cypress to create robust, maintainable applications.
            <br />            <br />
            Beyond coding, I share my knowledge through tech articles—because great ideas deserve to be shared.
        </div>
    </div>
</div>
