---
import Tablet from "../ui/Tablet.astro";
---
<div class="flex flex-col sm:flex-row gap-2">
    <div class="sm:w-1/2">
        <div class="flex justify-center items-center">
            <div class="row">About me</div>
        </div>
    </div>
    <div class="sm:w-1/2">
        <div class="flex justify-center items-center">
            With over a decade in frontend development, I specialize in Angular, RxJS, and TypeScript, focusing on microfrontends, web components, and application embedding. My mission? Ensuring teams work independently without unnecessary interdependencies.

            I’m passionate about automation, quality assurance, and testing, leveraging Playwright and Cypress to create robust, maintainable applications.

            Beyond coding, I share my knowledge through tech articles—because great ideas deserve to be shared.
        </div>
    </div>
</div>
