---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">

		<div class="mx-auto max-w-6xl py-32 sm:py-48 lg:py-56">
			<div class="text-center">
				<h1 class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Mateusz Garbaciak</h1>
				<p class="mt-1 font-hairline text-gray-400 sm:text-xl/8">Frontend Developer | Microfrontend Specialist | Automation Enthusiast</p>
				<p class="mt-8 font-medium text-gray-500 sm:text-xl/8">Building scalable, independent, and high-quality frontend architectures with Angular, RxJS, and TypeScript.</p>
			</div>
		</div>

	<div class="mx-auto max-w-6xl flex flex-col sm:flex-row gap-2">
		<div class="sm:w-1/2 bg-gray-300 p-16 shadow-md">
			<p class="text-gray-700">This is the first card.</p>
		</div>
		<div class="sm:w-1/2 bg-gray-300 p-16 shadow-md">
			<h2 class="text-xl font-semibold">This is the second card.</h2>
		</div>
	</div>
</BaseLayout>
